{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rails Scheduling Assignment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/home.css' %}">
</head>

<body>
    <h2>work_orders.csv</h2>
    <table>
        <thead>
            <tr>
                <th>Technician</th>
                <th>Location</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for work_order in work_orders %}
            <tr>
                <td>{{ work_order.work_order_technician.technician_name }}</td>
                <td>{{ work_order.work_order_location.location_name }}, {{ work_order.work_order_location.city }}</td>
                <td>{{ work_order.time }}</td>
                <td>{{ work_order.duration }}</td>
                <td>{{ work_order.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="heading">Scheduling Grid</h2>
    <table id="table" class="scheduling-grid" border="1">
        <thead>
            <tr>
                <th>Time</th>
                {% for technican in technicians %}
                <th>{{ technican.technician_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key, values in scheduling_obj.items %}
            <tr>
                <td>{{ values.pretty_time }}</td>

                {% for k, v in values.items %}
                {% if k != "pretty_time" %}
                <td>{{ v }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'scheduler/home.js' %}"></script>
</body>

</html>